<!-- Tarjeta -->
<div id="tarjeta" class="card shadow">
  <img class="card-img-top" src="/assets/img/banner.jpg" alt="banner" />
  <div class="card-body">
    <h5 class="card-title">Lista de héroes</h5>
    <div class="card-text">

      <div id="tabla" class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Vida</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let heroe of lista"
                      (click)="seleccionarFavorito(heroe)">
              <ng-container *ngIf="heroe.vida > 0">
                <td>
                  <img *ngIf="heroe.imagen" [src]="heroe.imagen" width="20px" [alt]="'Avatar de' + heroe.nombre" />
                  <img *ngIf="!heroe.imagen" src="https://borilio.github.io/curso-angular/img/avatars/defaultheroe.svg"
                    width="20px" [alt]="'Avatar de' + heroe.nombre" />
                </td>
                <td>{{heroe.nombre}}</td>
                <td>{{heroe.vida}}</td>
              </ng-container>
            </tr>
          </tbody>
          <tfoot>
            <tr colspan="3">
              <td><span class="badge text-dark bg-warning rounded-circle p-2">{{lista.length}}</span><span>
                  Personajes</span></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
