<!-- tarjeta bienvenida-->
<div class="card shadow my-3">
  <img
    class="card-img-top"
    src="https://borilio.github.io/curso-angular/img/banner.jpg"
    alt="Banner de la tarjeta"
  />
  <div class="card-body">
    <h5 class="card-title">Página principal</h5>
    <p>
      Te damos la bienvenida a nuestra aplicación. Puedes moverte libremente.
    </p>
    <p>
      Agranda esta ventana, ya que no funciona el collapse y no se ve el navbar
      😉
    </p>
    <p class="text-center">
      <i class="bi bi-gem" style="color: purple"></i>
      <i class="bi bi-gem" style="color: lightskyblue"></i>
      <i class="bi bi-gem" style="color: greenyellow"></i>
      <i class="bi bi-gem" style="color: gold"></i>
      <i class="bi bi-gem" style="color: darkorange"></i>
      <i class="bi bi-gem" style="color: red"></i>
    </p>
  </div>
  <div class="card-footer btn-group">
    <a class="btn btn-link" href="#"><i class="bi bi-house"></i> Acción 1</a>
    <a class="btn btn-link" href="#">
      <i class="bi bi-box-arrow-right"></i> Acción 2
    </a>
  </div>
</div>
