<main>
  <section class="container">
    <!-- 1 fila, 3 columnas -->
    <div class="row">
      <!-- columna izquierda -->
      <div class="col"></div>
      <!-- columna central -->
      <div class="col-12 col-md-6">
        <!-- Tarjeta -->
        <div id="tarjeta" class="card shadow">
          <img class="card-img-top" src="/assets/img/banner.jpg" alt="banner" />
          <div class="card-body">
            <h5 class="card-title">Lista de héroes</h5>
            <div class="card-text">

              <table class="table">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Poder</th>
                    <th>Honor</th>
                    <th>Ataque</th>
                    <th>Defensa</th>
                    <th>Vida</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let heroe of lista" [class]="{
                       'table-info':heroe.honor >70,
                       'table-danger':heroe.honor < -70

                    }">
                    <td>{{heroe.nombre}}</td>
                    <td *ngIf="heroe.poder > 200" [class]="poderoso">{{heroe.poder}}</td>
                    <td>{{heroe.honor}}</td>
                    <td>{{heroe.ataque}}</td>
                    <td>{{heroe.defensa}}</td>
                    <td>{{heroe.vida}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- columna derecha -->
      <div class="col"></div>
    </div>
  </section>
</main>
