<main>
  <section class="container">
    <!-- 1 fila, 3 columnas -->
    <div class="row">
      <!-- columna izquierda -->
      <div class="col"></div>
      <!-- columna central -->
      <div class="col-12 col-md-6">
        <!-- Tarjeta -->
        <div id="tarjeta" class="card shadow">
          <img class="card-img-top" src="/assets/img/banner.jpg" alt="banner" />
          <div class="card-body">
            <h5 class="card-title">Lista de héroes</h5>
            <div class="card-text">
              <p>Aquí mostraremos el contenido de la lista de héroes</p>
            </div>
          </div>
        </div>
      </div>
      <!-- columna derecha -->
      <div class="col"></div>
    </div>
  </section>
</main>
